.App-file-info {
    margin-top: 4.5rem !important;
    border-top: 2px solid lightgrey;
    padding-top: 8px;
}

.App-file-reference {
    overflow-wrap: break-word;
}

th.modified, td.modified, .folder td:nth-child(2) {
    display: none;
}

navbar {
    background: linear-gradient(to right, rgba(140, 209, 168, 0.588235), rgba(140, 209, 168, 0.3));
}
